name: hubs
services:
  hubs:
    container_name: hubs
    image: ${OVERRIDE_HUBS_IMAGE:-${Container_Dockerhub_Username:-hubsfoundation}/hubs:${CONTAINER_TAG:-stable-latest}}
    restart: unless-stopped
    networks:
      - hubs
    ports:
      - '8080:8080'   # development only
    environment:
      turkeyCfg_thumbnail_server: cors.${HUB_DOMAIN:?host name}/nearspark
      turkeyCfg_base_assets_path: https://assets.${HUB_DOMAIN:?host name}/hubs/
      turkeyCfg_non_cors_proxy_domains: ${HUB_DOMAIN:?host name},assets.${HUB_DOMAIN:?host name},demo.hubsfoundation.org,*.demo.hubsfoundation.org
      turkeyCfg_reticulum_server: ${HUB_DOMAIN:?host name}
      turkeyCfg_cors_proxy_server: cors.${HUB_DOMAIN:?host name}
      turkeyCfg_shortlink_domain: ${HUB_DOMAIN:?host name}
      turkeyCfg_tier: p1
    healthcheck:
      test: ['CMD', 'curl', '-fk', 'https://hubs:8080/healthz']

  spoke:
    container_name: spoke
    image: ${OVERRIDE_SPOKE_IMAGE:-${Container_Dockerhub_Username:-hubsfoundation}/spoke:${CONTAINER_TAG:-stable-latest}}
    restart: unless-stopped
    networks:
      - hubs
    ports:
      - '8081:8080'   # development only
    #      - '9090:9090'   # development only
    environment:
      turkeyCfg_thumbnail_server: cors.${HUB_DOMAIN:?host name}/nearspark
      turkeyCfg_base_assets_path: https://assets.${HUB_DOMAIN:?host name}/spoke/
      turkeyCfg_non_cors_proxy_domains: ${HUB_DOMAIN:?host name},assets.${HUB_DOMAIN:?host name},demo.hubsfoundation.org,*.demo.hubsfoundation.org
      turkeyCfg_reticulum_server: ${HUB_DOMAIN:?host name}
      turkeyCfg_cors_proxy_server: cors.${HUB_DOMAIN:?host name}
      turkeyCfg_shortlink_domain: ${HUB_DOMAIN:?host name}
      turkeyCfg_hubs_server: ${HUB_DOMAIN:?host name}
    healthcheck:
      test: ['CMD', 'curl', '-fk', 'https://spoke:8080/healthz']

  pgsql:
    container_name: pgsql
    image: ${OVERRIDE_POSTGRES_IMAGE:-${Container_Dockerhub_Username:-mozillareality}/postgres:${CONTAINER_TAG:-stable-latest}}
    restart: unless-stopped
    volumes:
      - postgresql-data:/var/lib/postgresql/data
    networks:
      - hubs
#    ports:
#      - '127.0.0.1:5432:5432'   # development only
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASS:-123456}
      POSTGRES_DB: ${DB_NAME:-retdb}
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', '${DB_USER:-postgres}', '-d', '${DB_NAME:-retdb}']

  pgbouncer:
    container_name: pgbouncer
    image: ${OVERRIDE_PGBOUNCER_IMAGE:-${Container_Dockerhub_Username:-mozillareality}/pgbouncer:${CONTAINER_TAG:-stable-latest}}
    depends_on:
      pgsql: { condition: service_healthy, restart: true }
    restart: unless-stopped
    networks:
      - hubs
    ports:   # only for coturn
      - '127.0.0.1:5432:5432'   # pgbouncer on hubs network; 127.0.0.1 on host
      - '[::1]:5432:5432'
##      - '127.0.0.1:6432:6432'   # development only
    environment: &pgbouncer-environment
      MAX_CLIENT_CONN: '10000'
      DB_USER: ${DB_USER:-postgres}
      DB_PASSWORD: ${DB_PASS:-123456}
      PGPASSWORD:  ${DB_PASS:-123456}
      DB_HOST: pgsql
    healthcheck: &pgbouncer-healthcheck
      test: ['CMD', 'psql', '-h', 'localhost', '-U', '${DB_USER:-postgres}', '-c', 'SELECT 1']

  pgbouncer-t:
    container_name: pgbouncer-t
    image: ${OVERRIDE_PGBOUNCER_IMAGE:-${Container_Dockerhub_Username:-mozillareality}/pgbouncer:${CONTAINER_TAG:-stable-latest}}
    depends_on:
      pgsql: { condition: service_healthy, restart: true }
    restart: unless-stopped
    networks:
      - hubs
#    ports:
#      - '127.0.0.1:5434:5432'   # development only
##      - '127.0.0.1:6432:6432'   # development only
    environment:
      <<: *pgbouncer-environment
      POOL_MODE: transaction
    healthcheck: *pgbouncer-healthcheck

  postgrest:
    container_name: postgrest
    image: ${OVERRIDE_POSTGREST_IMAGE:-${Container_Dockerhub_Username:-mozillareality}/postgrest:${CONTAINER_TAG:-stable-latest}}
    restart: unless-stopped
    depends_on:
      pgbouncer: { condition: service_healthy, restart: true }
    #    network_mode: service:reticulum
    networks:
      - hubs
    ports:
      - '127.0.0.1:3000:3000'
    environment:
      PGRST_LOG_LEVEL: info
      PGRST_DB_SCHEMA: ret0_admin
      PGRST_DB_ANON_ROLE: ${DB_USER:-postgres}
      PGRST_DB_URI: 'postgres://${DB_USER:-postgres}:${DB_PASS:-123456}@pgbouncer/${DB_NAME:-retdb}'
      PGRST_JWT_SECRET: ${PGRST_JWT_SECRET:?generated public key}
  #    healthcheck:
  #      test: ['CMD', 'postgrest', '--ready']   # when updated to post-2025-09-28

  ret:
    container_name: ret
    image: ${OVERRIDE_RETICULUM_IMAGE:-${Container_Dockerhub_Username:-hubsfoundation}/reticulum:${CONTAINER_TAG:-stable-latest}}
    restart: unless-stopped
    privileged: true
    depends_on:
      hubs: { condition: service_healthy }
#      spoke: { condition: service_healthy, required: false }
      pgbouncer: { condition: service_healthy }
      pgbouncer-t: { condition: service_healthy }
      postgrest: { condition: service_started }
    networks:
      - hubs
    ports:
      - '4000:4000'   # HTTPS (development only)
      - '4001:4001'   # HTTP (development only)
      - '127.0.0.1:9100:9100'
    extra_hosts:
      - host.docker.internal=host-gateway
    volumes:
      - reticulum-storage:/storage
      - ./reticulum-config:/home/ret
    environment:
      POD_IP: reticulum
      POD_NAME: reticulum
      turkeyCfg_POD_NS: hcce   # only for substitution in config.toml.template?
      turkeyCfg_NODE_COOKIE: ${NODE_COOKIE:?random string}
      turkeyCfg_HUB_DOMAIN: ${HUB_DOMAIN:?host name}
      turkeyCfg_DOMAIN: ${HUB_DOMAIN:?host name}
      turkeyCfg_DB_USER: ${DB_USER:-postgres}
      turkeyCfg_DB_PASS: ${DB_PASS:-123456}
      turkeyCfg_DB_NAME: ${DB_NAME:-retdb}
      turkeyCfg_DB_HOST: ${DB_HOST:-pgbouncer}
      turkeyCfg_DB_HOST_T: ${DB_HOST_T:-pgbouncer-t}
      turkeyCfg_GUARDIAN_KEY: ${GUARDIAN_KEY:?random string}
      turkeyCfg_PERMS_KEY: ${PERMS_KEY:?generated private key}
      turkeyCfg_PHX_KEY: ${PHX_KEY:?random string}
      turkeyCfg_SMTP_SERVER: ${SMTP_SERVER:?host name}
      turkeyCfg_SMTP_PORT: ${SMTP_PORT:?possibly 2587}
      turkeyCfg_SMTP_USER: ${SMTP_USER:?email username}
      turkeyCfg_SMTP_PASS: ${SMTP_PASS:?email password}
      turkeyCfg_ADM_EMAIL: ${ADM_EMAIL:?email address}
      turkeyCfg_SKETCHFAB_API_KEY: ${SKETCHFAB_API_KEY:-}
      turkeyCfg_IMG_PROXY: nearspark
      turkeyCfg_TENOR_API_KEY: ${TENOR_API_KEY:-}
      turkeyCfg_YTDL_HOST: http://ytdl:5000
      turkeyCfg_PHOTOMNEMONIC: http://photomnemonic:5000
      turkeyCfg_SPEELYCAPTOR: http://speelycaptor:5000
      turkeyCfg_STORAGE_QUOTA_GB: 1000
      HUBS_ADMIN_INTERNAL_HOSTNAME: hubs
      HUBS_CLIENT_INTERNAL_HOSTNAME: hubs
      SPOKE_INTERNAL_HOSTNAME: spoke
      POSTGREST_INTERNAL_HOSTNAME: postgrest
      DIALOG_HOSTNAME: host.docker.internal
      DIALOG_PORT: 4443
    healthcheck:
      test: ['CMD', 'wget', '-qO', '-', '-S', 'ret:4001/health']

  router:
    image: nginx:1.29-alpine
    container_name: router
    restart: unless-stopped
    depends_on:
      hubs: { condition: service_healthy }
      spoke: { condition: service_healthy, required: false }
      ret: { condition: service_healthy }
#      dialog: { condition: service_healthy, required: false }
    networks:
      - hubs
    ports:
      - '80:80'
      - '443:443'
#      - '4443:4443'
    extra_hosts:
      - host.docker.internal=host-gateway
    volumes:
      - ./nginx-conf:/etc/nginx/conf.d
      - ./single:/var/www/single:ro
      - ./support:/var/www/support:ro
      - acme-challenge:/var/www/acme-challenge:ro
      - certbot-etc:/etc/letsencrypt:ro
    environment:
      HUB_DOMAIN: ${HUB_DOMAIN:?host name}
    command: |
      /bin/sh -c "
      for file in /etc/nginx/conf.d/*.template; do
        envsubst '$$HUB_DOMAIN' < $$file > $${file%.template}.conf;
      done && exec nginx -g 'daemon off;'"
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://router/healthz']
      interval: 15s
      timeout: 10s
      retries: 3
      start_period: 10s

  coturn:
    container_name: coturn
    image: ${OVERRIDE_COTURN_IMAGE:-${Container_Dockerhub_Username:-mozillareality}/coturn:${CONTAINER_TAG:-stable-latest}}
    restart: unless-stopped
    depends_on:
      pgbouncer: { condition: service_healthy }
    volumes:
      - certbot-etc:/etc/letsencrypt:ro
    network_mode: host   # needs to listen to many UDP ports
    extra_hosts:
      - host.docker.internal=host-gateway   # could use this to set external-ip
    environment:
      REALM: turkey
      PSQL: 'postgres://${DB_USER:-postgres}:${DB_PASS:-123456}@localhost/${DB_NAME:-retdb}'
      COTURN_MIN_PORT: ${COTURN_MIN_PORT:-49152}
      COTURN_MAX_PORT: ${COTURN_MAX_PORT:-51609}
      HTTPS_CERT_FULLCHAIN: /etc/letsencrypt/live/${HUB_DOMAIN:?host name}/fullchain.pem
      HTTPS_CERT_PRIVKEY: /etc/letsencrypt/live/${HUB_DOMAIN:?host name}/privkey.pem
    healthcheck:
      test: ['CMD', 'nc', '-zv', '${HUB_DOMAIN:?host name}', '5349']

  dialog:
    container_name: dialog
    image: ${OVERRIDE_DIALOG_IMAGE:-${Container_Dockerhub_Username:-mozillareality}/dialog:${CONTAINER_TAG:-stable-latest}}
    restart: unless-stopped
    depends_on:
      coturn: { condition: service_healthy }
    volumes:
      - certbot-etc:/etc/letsencrypt:ro
    network_mode: host   # needs to listen to many UDP ports
    extra_hosts:
      - host.docker.internal=host-gateway
    environment:
      perms_key: ${PERMS_KEY:?generated private key}
      HTTPS_CERT_FULLCHAIN: /etc/letsencrypt/live/${HUB_DOMAIN:?host name}/fullchain.pem
      HTTPS_CERT_PRIVKEY: /etc/letsencrypt/live/${HUB_DOMAIN:?host name}/privkey.pem
    healthcheck:   # Mediasoup 5 has a built-in healthcheck
      #      test: ['CMD', 'curl', '-fk', 'https://dialog:4443/']
      test: ['CMD', 'curl', '-f', 'http://host.docker.internal:7000/meta']

  nearspark:
    container_name: nearspark
    image: ${OVERRIDE_NEARSPARK_IMAGE:-${Container_Dockerhub_Username:-mozillareality}/nearspark:${CONTAINER_TAG:-stable-latest}}
    restart: unless-stopped
    networks:
      - hubs
    ports:
      - '5000:5000'
    extra_hosts:
      - host.docker.internal=host-gateway
    healthcheck:
      test: ['CMD', 'nc', '-zv', 'nearspark', '5000']
#      test: ['CMD', 'wget', '-qO', '-', '-S', 'nearspark:5000/thumbnail/']

  photomnemonic:
    container_name: photomnemonic
    image: ${OVERRIDE_PHOTOMNEMONIC_IMAGE:-${Container_Dockerhub_Username:-mozillareality}/photomnemonic:${CONTAINER_TAG:-stable-latest}}
    restart: unless-stopped
    networks:
      - hubs
    ports:
      - '5001:5000'   # development only
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://photomnemonic:5000/_healthz']
# curl http://photomnemonic:5000/screenshot/?url=https://example.com/ > /tmp/screenshot1.png


volumes:
  reticulum-storage:
  postgresql-data:
  certbot-etc:
  acme-challenge:

networks:
  hubs:
