server {
        listen 443 ssl;
        listen [::]:443 ssl;
        http2 on;
        server_name assets.$HUB_DOMAIN cors.$HUB_DOMAIN;

        location /healthz {
            return 200 'ok';
            access_log off;
        }

        location ~ /.well-known/acme-challenge {
                allow all;
                root /var/www/acme-challenge;
        }

# https://assets.single.hominidsoftware.com/hubs/assets/stylesheets/support-63d74e7f6dde478
# https://assets.single.hominidsoftware.com/hubs/pages/
        location /hubs {
            proxy_pass https://hubs:8080;   # TLS

            include /etc/nginx/conf.d/proxy-directives.inc;
            include /etc/nginx/conf.d/security.inc;
        }

# https://assets.single.hominidsoftware.com/spoke/assets/js/entry-0bff1a698e3d55268289.js
# https://assets.single.hominidsoftware.com/spoke/assets/images/favicon.ico
        location /spoke {
            proxy_pass https://spoke:8080;   # TLS

            include /etc/nginx/conf.d/proxy-directives.inc;
            include /etc/nginx/conf.d/security.inc;
        }

# "proxy_pass" cannot have URI part in location given by regular expression
        location /files/ {
            proxy_pass http://ret:4001;   # no TLS

            include /etc/nginx/conf.d/proxy-directives.inc;
        }

        location /http {
            proxy_pass http://ret:4001;   # no TLS

            include /etc/nginx/conf.d/proxy-directives.inc;
        }

# https://cors.single.hominidsoftware.com/nearspark/thumbnail/aHR0cHM6Ly9tZWRpYS5za2V0Y2hmYWIuY29tL21vZGVscy82ZTYxNzhiMDdhNTk0Mzg1YTYwNDUyZjdjMTMxOTQ5My90aHVtYm5haWxzLzczYmQyOGI0YWZmNDQ2NDY5ZDM5ZWUwNzcxNmQ5ZGFkL2I0NzY0NTkxOWEyNzQ4YzZiODc3MWVjNDRlMjU2YWUwLmpwZWc.jpeg?w=391&h=220
        # only cors (not assets) needs this, but it should be ok
        location /nearspark/ {
            proxy_pass http://nearspark:5000/;   # TLS
        }

        location / {
             return 502 'bad gateway';
#            return 404 'not found';
       }

        ssl_certificate /etc/letsencrypt/live/$HUB_DOMAIN/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/$HUB_DOMAIN/privkey.pem;
        include /etc/nginx/conf.d/options-ssl-nginx.inc;
}
